/* Container */
.ambassadors-container {
  min-height: 100vh;
  padding: 6rem 2rem;
}

/* Header */
.ambassadors {
  text-align: center;
  padding-bottom: 35px;
}

.ambassadors h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

/* Grid Layout */
.ambassadors-grid {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

/* Card Styling */
.ambassador-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  height: auto;
}

.ambassador-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

/* Red and Blue Cards */
.red-bg {
  background: linear-gradient(135deg, #e63946, #b71c1c);
  color: white;
}

.blue-bg {
  background: linear-gradient(135deg, #1d4ed8, #0c2d8a);
  color: white;
}

/* Image Section */
.image-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 20px;
}

.ambassador-image {
  width: 300px;
  height: 300px;
  object-fit: cover;

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.ambassador-info {
  text-align: left;
  margin-top: 10px;
}

.ambassador-name {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Achievements Section */
.achievements-section {
  flex: 1;
  padding: 1rem;
}

.achievements-section h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}

.achievements-section ul {
  list-style-type: none;
}

.achievements-section ul li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: left;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .ambassador-card {
    flex-direction: column;
    text-align: center;
  }

  .ambassador-image {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .ambassadors-container {
    padding: 4rem 1.5rem;
  }

  .ambassador-image {
    width: 200px;
    height:200px;
  }

  .achievements-section h3 {
    font-size: 1.5rem;
  }

  .achievements-section ul li {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .ambassadors-container {
    padding: 6rem 2rem;
  }

  .ambassador-card {
    padding: 1rem;
  }

  .ambassador-image {
    width: 200px;
    height: 200px;
  }

  .achievements-section h3 {
    font-size: 1.3rem;
  }

  .achievements-section ul li {
    font-size: 0.8rem;
  }
}

