.team-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-bottom: 20px;
}

.team-page-content {
    position: relative;
    z-index: 100;
    
}

.section-title {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
    color: black;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-card {
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.team-image {
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-details h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.team-details p {
    font-size: 1rem;
    color: #666;
}
