@font-face {
    font-family: "Gutsand";
    src: url('src/fonts/gutsand/gutsand.woff2') format('woff2');
    font-display: swap;
  }

@font-face {
    font-family: "Grofins";
    src: url('src/fonts/grofins/grofins.woff2') format('woff2');
    font-display: swap;
  }/* Import Grofins */

.heading-text {
    font-family: 'Gutsand', sans-serif !important;
    font-style: italic;
    font-weight: 700; /* Ensures bold */
}

.value, .key {
    font-family: 'Grofins', sans-serif !important;
    font-style: italic;
    font-weight: 700; /* Ensures bold */
}
.timer{
    width: 100vw;
    margin-top: 20vh;
}

.heading-text {
    font-size: 4vw;
    margin-bottom: 1rem;
    text-align: start;    
    margin-left: 18vw;
    font-family: 'Gutsand';
    color: #ee0942;
    line-height: 0.5;
}

.inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 0 1vw;
    width: 15vw;
    height: 10vw;
    line-height: 0.8;
}

.value{
    color: #2374E8;
    font-family: 'Grofins';
    font-size: 6vw;
}

.key{
    color: black;
    font-family: 'Grofins';
    font-size: 2vw;
}