/* Parent container for all event cards */
.whole-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  /* width: 26vw;
   */
   height: auto;
  margin-top: 1rem;
}
.rcard-heading {
  font-size: 1.1rem;
  font-weight: 800;
  color: #ee0942;
}
.rcard-events {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 2rem;
}

.rcard-footer {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: left;
  gap: 2rem;
}

.rcard-events img {
  width: 40px;
}
.rcard-text {
  font-size: 0.8em;
  font-weight: 800;
  color: #2374e8;
}
/* Individual card styling */
.rcard-container {
  margin: 1rem; /* Adds space around each card */
  color: black;
  background-color: white;
  border: 2px solid #ee0942;
  border-radius: 20px;
  padding: 1rem;
  width: 35rem;
  height: 40vh;
  /* display: flex; */
  /* flex-direction: column; */
}

/* Ensure text and image inside the card are spaced properly */
.rcard-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

/* Ensure images stay within bounds */
.rcard-right img {
  width: 100%;
  max-width: 180px;
  border-radius: 25px;
}


.rcard-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
  color: #ee0942;
  font-weight: 800;
  text-align: center;
  width: fit-content;
}


.accommodation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #ee0942;
  padding: 0.5rem;
  border-radius: 25px;
  color: #ee0942;
  font-weight: bold;
  margin: auto;
  width: fit-content;
}

/* Ensure responsiveness */
@media only screen and (max-width: 1024px) {
  .whole-container {
    gap: 1rem;
    width: 100%;
    height: 100%;
  }

  .rcard-container {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .whole-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 3vw;
    height: 100%;
  }

  .rcard-container {
    width: 100%;
    height: auto;
  }
}
