.marquee-container {
    width: 100%;
    overflow: hidden;
    /* white-space: nowrap; */
    top: 12vh;
    position: relative;
    background: none; /* Optional: Background color */
    color: #E90037; /* Optional: Text color */
    /* padding: 10px 0; */
    z-index: 1;
  }
  
  .marquee {
    display: flex;
  
    animation: marquee-scroll 8s linear infinite;
  }
  
  .marquee text1 {
    display: flex;
    white-space: nowrap;
    font-size: 50px;
    font-weight: 800;
    /* padding-right: 20px;  */
  }
  
  @keyframes marquee-scroll {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  

  @media screen and (max-width: 768px) {
    .marquee-container {
      top: 5vh;
      padding: 0px 0px;
 
    }
  
    .marquee span {
      font-size: 10px;
    }
    
  }