.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    top: 12vh;
    position: relative;
    background: none; /* Optional: Background color */
    color: #E90037; /* Optional: Text color */
    /* padding: 10px 0; */
    z-index: 1000;
  }
  
  .marquee {
    display: flex;
    width: max-content;
    animation: marquee-scroll 10s linear infinite;
  }
  
  .marquee span {
    display: flex;
    white-space: nowrap;
    font-size: 25px;
    font-weight: 800;
    padding-right: 50px; /* Adjust spacing */
  }
  
  @keyframes marquee-scroll {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  

  @media screen and (max-width: 768px) {
    .marquee-container {
      top: 5vh;
      padding: 4px 0px;
 
    }
  
    .marquee span {
      font-size: 10px;
    }
    
  }