.nav-container {
  display: flex;
  height: 10%;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: white;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000000;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.nav-container.scrolled {
  background-color: rgba(26, 26, 46, 0.9);
  backdrop-filter: blur(10px);
}


.login-btn {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ff004f;
  background: linear-gradient(45deg, #ff5733, #c70039);
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 70px;
  margin-right: 40px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 4px 8px rgba(199, 0, 57, 0.3);
}

.login-btn:hover {
  background-color: #d40042;
  background: linear-gradient(45deg, #c70039, #ff5733);
  transform: scale(1.05);
  box-shadow: 4px 6px 12px rgba(199, 0, 57, 0.5);
}

.hamburger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}

.hamburger-icon:hover {
  transform: scale(1.1);
}

.hamburger-icon svg {
  color: black;
  width: 32px;
  height: 32px;
}

.dropdown {
  position: absolute;
  top: 10%;
  right: 0px;
  width: 30%;
  height: 90%;
  background-color: rgb(245, 250, 251);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1100;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  visibility: hidden;
}

.dropdown.show {
  position: fixed;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  padding: 4px 0;
  row-gap: 0px;
  
}
.dropdown a {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;

  font-weight: 500;
  color: #2374E8; /* Light Gray */
  padding: 10px 0;
  width: 100%;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.dropdown a:hover {
  color: #ff5733; /* Orange */
  background: rgba(255, 87, 51, 0.2);
  border-radius: 8px;
}


@media (max-width: 768px) {
  .nav-container {
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
  }

  .login-btn {
    font-size: 12px;
    padding: 6px 12px;
    position: absolute;
    right: 50px;
    margin: 0;
  }

  .hamburger-icon {
    padding: 6px;
  }

  .dropdown {
    top: 70px;
    width: 100%;
  }
}