:root {
  --primary-font: "Outfit", sans-serif; /* Headings/Titles */
  --secondary-font: "Poppins", sans-serif; /* Body text */
  --tertiary-font: "Outfit", sans-serif; /* Buttons & Inputs */

  font-family: var(--secondary-font);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply fonts to elements */
body {
  font-family: var(--secondary-font);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Headings/Titles */
h1, h2,h3, h4, h5, h6 {
  font-family: var(--primary-font);
  font-size: 1em;
  font-style: bold;
  font-weight: 800;
}

/* General text (paragraphs, lists, spans) */
p, span, li {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
}

/* Buttons and Input Fields */
button, input, textarea {
  font-family: var(--tertiary-font);

    box-shadow: none ;
    border: none ;
}

/* Media Queries */
@media (max-width: 768px) {
  :root {
    font-size: 90%;
  }

  body {
    padding: 1em;
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 80%;
  }

  body {
    padding: 0.5em;
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 1.8em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

/* Font Definitions */
@font-face {
  font-family: "SF Sports";
  src: url('src/fonts/SF/SF Sports Night NS.ttf') format('woff2');
}

@font-face {
  font-family: "DM Sans";
  src: url('src/fonts/DM/DMSans-Bold.ttf') format('woff2');
}

@font-face {
  font-family: "Outfit";
  src: url('src/fonts/outfit/Outfit-Bold.ttf') format('woff2');
}

@font-face {
  font-family: "Poppins";
  src: url('src/fonts/Poppins/Poppins-Regular.ttf') format('woff2');
}
